body{
    
}


hr{
    align-self: flex-start;
    color:rgb(197, 197, 197);
}

.list{
    border-color:rgb(104, 104, 104);
    border-style:none none none solid;
    padding:5px;
    border-width: 10px;
    background-color: rgb(224, 224, 224);
}

.wrap{
    background-color: black;
    color: #ffff;
}

big{
    font-size: larger;
}

ul{
    list-style-type:circle;;
}